 body {
    background-color: rgb(34, 32, 32);
    font-family: Cal Sans, sans-serif;
    }

.navbar-div {
    background-color: rgb(61, 58, 58);
    border-radius: 13px;
    width: auto;
}

.heading-text {
    color: rgb(165, 191, 214);
    size: 135%;
    padding: 50;
}

.heading-p {
    color: white;
    size: 115%;
}

.p-bb {
    color: #494343;
    size: 100%;
}

p {
    color: white;
}

.button {
    background-color: rgb(118, 175, 221);
    text-align: center;
    border-radius: 10px;
}

.heading-h1 {
    color: rgb(126, 175, 221);
}

.homepage-div {
    background-color: #242020;
    outline-width: 5px;
    outline-color: #6d6565;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    width: auto;
    height: auto;
    border-radius: 10px;
}

.image-homepage-div {
    border-radius: 10px;
}

.h1-homepage-div {
    size: 35px;
    color: white;
}

.p-homepage-div {
    size: 15px;
    color: white;
}