 body {
    background-color: rgb(34, 32, 32);
    }

.navbar-div {
    background-color: rgb(61, 58, 58);
    border-radius: 13px;
    width: auto;
}

.heading-text {
    color: rgb(165, 191, 214);
    size: 135%;
}

.p-bb {
    color: #494343;
    size: 100%;
}

.navbar-image {
    float: right;
}